<html>
    <head>
        <Title></Title>
    </head>

    <style>
        carousel-inner-before{
            height:51%;
            width:100%;
            margin-top:1%
        }
    </style>

    <body>
        <center>
            <ul>
                {% if "How To Handle Alzheimer Patients" in search%}
                    {% for i in tips %}
                    <li>{{i}}</li><br><br>
                    {% endfor %}
                {% elif "Challenges faced by family members" in search%}
                    {% for i in tips %}
                        <li>{{i}}</li><br><br>
                    {% endfor %}
                {% endif %}
            </ul>
        </center>
    </body>
</html>